:root {
    --azul-principal: #1f4e79;
    --azul-boton: #062397;
    --gris-borde: lightgray;
    --fondo: #f5f7fa;
}

html{
    height: 100%;
    margin: 0;
}

body{
    height: 100%;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background: var(--fondo);
    font-family: "Inter", sans-serif;
}

main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    padding: 6px 20px;
}

.campo{
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-bottom: 20px;
}

#buscar {
    display: flex;
    background-color: var(--azul-boton);
    gap: 3px;
    margin-top: 20px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.recorrido{
    display: grid;
    grid-template-rows: 2fr 1fr;
    gap: 20px;
}

#escuchar-recorrido{
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#mapa{
    flex: 1;
}

.mapa {
    display: flex;
    flex-direction: column;
    padding: 12px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 20px;
    border-bottom: 4px solid var(--azul-principal);
}

.titulo{
    display: flex;
    align-items: center;
    gap: 30px;
}

.accesibilidad{
    display: flex;
    align-items: center;
    gap: 20px;
}

.control-contraste{
    display: flex;
    align-items: center;
    gap: 5px;
}

#boton-contraste{
    display: flex;
    justify-content: center;
    align-items: center;
}

#boton-volumen-header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 20px;
    background-color: var(--azul-principal);
    color: white;
}

.buscador, .mapa, .indicaciones {
    border: 1px solid var(--gris-borde);
    border-radius: 12px;
    overflow: hidden;
    padding: 0px;
    background: white;
}

.buscador {
    display: flex;
    flex-direction: column;
}

.buscador h2, .mapa h2, .indicaciones h2 {
    margin-top: 0;
    margin-bottom: 12px;
}

.panel-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: var(--azul-principal);
    padding: 15px;
}

.panel-header h2 {
    margin: 0;
    color: white;
}

.panel-body {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.panel-body button {
    color: white;
    padding: 10px;
    background-color: var(--azul-boton);
    border-radius: 6px;
    font-weight: 600;
    font-size: 15px;
}

select {
    font-size: 1rem;
    padding: 10px 12px;
    border-radius: 6px;
}

.campo label {
    font-size: 1.10rem;
    font-weight: 600;
    margin-bottom: 4px;
}

button {
    border-color: var(--gris-borde);
    border-radius: 6px;
    padding: 5px 6px;
}

button:hover {
    filter: brightness(0.95);
}

button:active {
    transform: scale(0.98);
}

#buscar img{
    filter: brightness(0) invert(1)
}